<template>
  <label>Show</label>
  <select
    :value="modelValue"
    @change="$emit('update:modelValue', parseInt($event.target.value))"
    class="form-control custom-select mr-1 ml-1"
    style="width: 70px"
  >
    <option v-for="size in pageSizes" :key="`page-size-${size}`" :value="size">
      {{ size }}
    </option>
  </select>
  <span>records</span>
</template>

<script>
export default {
  props: {
    totalRows: {
      type: Number,
      required: true,
    },
    modelValue: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      limit: this.modelValue,
    };
  },
  computed: {
    pageSizes() {
      let pages = Math.ceil(this.totalRows / this.limit);
      let pageSizes = [];
      for (let i = 1; i <= pages; i++) {
        pageSizes.push(i * this.limit);
      }

      return pageSizes;
    },
  },
};
</script>
