<template>
  <span>{{ recordMeta }}</span>
</template>

<script>
import { getArrayIndexes } from "./utils";

export default {
  props: {
    totalRows: {
      type: Number,
      required: true,
    },
    currentPage: {
      type: Number,
      default: 1,
    },
    perPage: {
      type: Number,
      required: true,
    },
  },
  computed: {
    recordMeta() {
      let { from, to } = getArrayIndexes(
        this.totalRows,
        this.perPage,
        this.currentPage
      );
      return `Showing ${from + 1} to ${to + 1} of ${this.totalRows} records`;
    },
  },
};
</script>
